---
layout: default
title: IRGON SYSTEM
---

                <section id="portfolio" class="list">{% include arrows.html %}
                    <h2>Portfolio</h2>
                    <section id="slider">
{% include slider.html %}
                    </section>
                    <ul class="portfolio">{% for post in site.posts %}
                        <li>
                            <a href="{{ post.url }}">
                                <strong>{{ post.title }}</strong>
                                <cite>{{ post.cite }}</cite>
                            </a>
                        </li>{% endfor %}
                    </ul>
                    <!-- / items list -->
                    <div class="portfolio">
                        <h3></h3>
                        <p class="translate translate-en"></p>
                        <p class="translate translate-pl"></p>
                        <ul class="technologies">
                        </ul>
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAL+tnL+tnCH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="Preview" class="preview" />
                    </div>
                    <!-- / post item -->
                </section>
                <!-- / portfolio -->