                        <ul>
                            <li>
                                <a href="/2012/05/14/listerinezero.html"><img src="/images/posts/listerinezero.jpg" alt="Listerine ZERO" /></a>
                            </li>
                            <li>
                                <a href="/2011/08/25/niebokopernika.html"><img src="/images/posts/niebokopernika.jpg" alt="Niebo Kopernika" /></a>
                            </li>
                            <li>
                                <a href="/2010/10/04/stalexport.html"><img src="/images/posts/stalexport.jpg" alt="Stalexport" /></a>
                            </li>
                            <li>
                                <a href="/2009/11/15/schiphol.html"><img src="/images/posts/schiphol.jpg" alt="Schiphol" /></a>
                            </li>
                            <li>
                                <a href="/2008/04/14/respectance.html"><img src="/images/posts/respectance.jpg" alt="Respectance" /></a>
                            </li>
                        </ul>